*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
margin: 0;
padding: 0;
box-sizing: border-box;
background-color: #ede6f6;
}
form {
display: flex;
flex-direction: column;
align-items: center;
}
.main {
height: 230px;
width: 50vw;
box-sizing: border-box;
background-color: white;
border-top: 12px solid #663ab5;
border-radius: 10px;
margin: 13px;
margin-bottom: 0;
padding: 10px;
padding-left: 30px;
font-size: 13px;
}
.main h1 {
font-size: 25px;
font-weight:500;
}

h3{
    font-weight: 400;
}
.MCQ, .Checkbox, .shortAns, .para, .dropdown, .upload, .scale, .multigrid {
    display: block;
background-color: white;
box-sizing: border-box;
height: 200px;
width: 50vw;
margin: 13px;
padding: 10px;
padding-left: 30px;
margin-bottom: 0;
border-radius: 10px;
}
.shortAns, .para ,.dropdown, .upload{
    height: 150px;
}

.scale ul {
    padding-left: 100px;
    padding-right: 100px;
}
.scaleoptions {
    padding-left: 0px;
    padding-right: 10px;
}

.multigrid{
    height: 330px;
}
tr, td {
    padding: 15px;
}


input[type="text"],
[type="email"] {
border: none;
border-bottom: 1px solid black;
width: 90%;
padding: 5px;
}
.email {
background-color: white;
box-sizing: border-box;
height: 150px;
width: 50vw;
margin: 13px;
margin-bottom: 0;
padding: 10px;
padding-left: 30px;
border-radius: 10px;
}
/* button {
margin: 13px;
margin-bottom: 0;
align-self: flex-start;
position: relative;
left: 372px;
padding: 8px 19px;
border-radius: 3px;
background-color: #663ab5;
border: none;
color: white;
} */
.submit {
width: 50vw;
display: flex;
flex-direction: row;
justify-content: flex-start;
}
button {
margin: 13px;
margin-left: 0;
margin-bottom: 0;
padding: 8px 19px;
border-radius: 3px;
background-color: #663ab5;
border: none;
color: white;
}
button:hover {
background-color: #452286;
transition: ease-in 200ms;
}
.rule {
width: 50vw;
margin-top: 15px;
font-size: 13px;
color: grey;
}
.policy {
font-size: 14px;
color: grey;
}
.policy a {
text-decoration: none;
color: grey;
text-decoration: underline;
}
img {
margin-top: 13px;
height: 200px;
width: 50vw;
object-fit: fill;
object-position: center;
border-radius: 10px;
}

.Google {
text-align: center;
}
@media only screen and (max-width: 1000px){
img, .main, .MCQ,.Checkbox, .shortAns, .para, .dropdown, .upload, .scale, .multigrid ,.submit, .rule, .policy, .Google {
  width: 90vw;
}
img {
  height: 125px;
}
.main {
  height: 180px;
  font-size: 12px;
}
.MCQ, .email {
  height: 170px;
  font-size: 12px;
}

.main h1 {
  font-size: 18px;
}
.main p,h4 {
  margin: 10px 0px;
}
h1 {
  font-size: 25px;
}
input[type="text"],
[type="email"] {
  padding: 5;
}

button {
  padding: 10px 22px;
  border-radius: 5px;
}
}